.headerLogoCart {
  border: 1px solid red;
  position: absolute;
  top: 0;
  width: 100%;
}
.headerUl {
  border: 1px solid black;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}
.headerLi {
  border: 1px solid green;
}
